@use 'variables';

html,
body {
  height: 100%;
}

body {
  //display: grid;
  //grid-template-columns: [first] 20% [second] auto [third] 20%  [end];
  //grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row-end];
  display: flex;
  flex-direction: column;
  
  padding: 0.5rem;
  background-color: variables.$bg-color-body;
    


}


.hidden {
  display: none !important;
}

.main {
  //grid-column: first / end;
  //grid-row: row2-start / row3-start;
  
  max-width: 1200px;
  margin-top: 1.96rem;
  margin-bottom: 1.96rem;
  
  padding: 1rem;
  background-color: variables.$bg-color-main;
  
  height: 100vh;
 
    
 

  


}

