@use 'variables';

.footer {
  grid-column: first / end;
  grid-row: row3-start / row-end;
  display: flex;
  justify-content: space-between;

  align-items: end;
  padding: 2rem;

  background-color: variables.$bg-color-footer;

  color: variables.$secondary-text;

  
}

.social a { 
    
  text-decoration: none;
  font-size: 3rem;
  color: variables.$secondary-text;

}

.footer .other a {
  color: variables.$secondary-text;
}

