@use 'variables';

.footer {

  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 2rem;

  background-color: variables.$bg-color-footer;

  color: variables.$secondary-text;

  
}

.social a { 
    
  text-decoration: none;
  font-size: 3rem;
  color: variables.$secondary-text;

}

.footer .other a {
  color: variables.$secondary-text;
}

