.gallery {
  display: grid;
  grid-template-columns: 1fr; /* 1 kolumn på små skärmar */
  gap: 1.96rem; /* Avstånd mellan bilder */
  max-width: 960px;
  margin: 0 auto;
}

.gallery img,

.gallery embed,

.gallery object,

.gallery video {
  max-width: 100%;
}

.gallery-item {
  box-sizing: border-box;
}

.gallery-item:hover {
  box-shadow: 10px 10px 5px 1px $shadow-box;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1.96rem;
}

.embed-container iframe,

.embed-container object,

.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 468px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }

  .gallery h1 {
    grid-column: span 2;
  }

  .embed-container {
    grid-column: span 2;
  }
}

@media (min-width: 668px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }

  .gallery h1 {
    grid-column: span 3;
  }

  .embed-container {
    grid-column: span 3;
  }
}
