//@use 'variables';

.header {
  grid-column: first / end;
  grid-row: row1-start / row2-start;
  display: flex;
  
  justify-content: space-between;
  
  padding: 2rem;
  margin-bottom: 1.96rem;

  background-color: $bg-color-header;
  color: $primary-text;
  border-bottom: 1px solid $border-color;


  
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

}

.title a {
  color: $primary-text;
}

.nav a {
     

  font-size: 2rem;
  color: $primary-text;
    
}



.title {
  padding: 0.5rem;
}


