@use 'variables';

.header {
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  background-color: variables.$bg-color-header;


  
  .site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  

}

.nav a {
     

  font-size: 2rem;
      
    
}



.title {
  padding: 0.5rem;
}
