@use 'variables';

html{

    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    
    font-family: "Montserrat", sans-serif;
}

p{

    
    line-height: 1.4;
    margin-bottom: 1.96rem;
    color: #333;
    

}

span{

    font-weight: bold;
}