

//Backgrounds
$bg-color-body: #f7f7f7;  // Pleasant white
$bg-color-header: #dfdce960;
$bg-color-footer: #333;
$bg-color-main: #fff;
$bg-color-top: #a74c00;
$bg-color-aside: #d7d5d1;


//border

$border-color: #333;


//text
$primary-text: #333;
$secondary-text: #fff;
$fontcolor-main: #333;



//box landingpage

$bg-box: rgba(253, 253, 246, 0.815);
$shadow-box: rgba(0, 0, 0, 0.2);
$bg-landingpage: #ffff;
