

//Backgrounds dark theme
$bg-color-body: #101010;  // Pleasant white
$bg-color-header: #101010;
$bg-color-footer: #333;
$bg-color-main: #151515;
$bg-color-top: #a74c00;
$bg-color-aside: #282828;


//border
$border-color: #fff;
//text
$primary-text: #2b8f69;
$secondary-text: #ffff;

$fontcolor-main: #ffff;


//box landingpage

$bg-box: rgba(0, 0, 0, 0.2); 
$shadow-box: rgba(253, 253, 246, 0.815);
$bg-landingpage: #151515;
